[Unit]
Description=Mount SFTP
After=default.target network-online.target

[Service]
ExecStart=/home/snens/.config/systemd/user/mount.sh
ExecStop=/bin/fusermount3 -u $MOUNT_PATH
RemainAfterExit=true
TimeoutStartSec=10
Restart=always
RestartSec=5
TimeoutSec=30

[Install]
WantedBy=default.target
